<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="128">
		<setting label="30001" id="preload-metadata" type="bool" default="false" />
		<setting label="30014" id="preload-metadata-search" type="bool" default="false" visible="eq(-1,true)" />
		<setting label="30010" id="clear-cache" type="bool" default="false" />
		<setting label="30000" type="text" id="keep-searches" default="20" />
		<setting label="30030" id="downloads" type="folder" default="" />
		<setting label="30032" id="download-notify" type="bool" default="true" />
		<setting label="30033" id="download-notify-every" type="enum" lvalues="30034|30035|30036" default="0" visible="eq(-1,true)" />
	</category>
	<category label="30013">
		<setting label="30015" id="search-for-movies" type="bool" default="true" />
		<setting label="30016" id="search-for-persons" type="bool" default="true" />
		<setting label="30020" id="search-integration" type="bool" default="true" />
		<setting label="30009" id="search-integration-update-history" type="bool" default="true" visible="eq(-1,true)" />
		<setting label="30021" id="search-integration-movie-library" type="bool" default="true" visible="eq(-2,true)" />
		<setting label="30022" id="search-integration-ulozto" type="bool" default="false" visible="eq(-3,true)" />
		<setting label="30023" id="search-integration-bezvadata" type="bool" default="true" visible="eq(-4,true)" />
		<setting label="30024" id="search-integration-kinotip" type="bool" default="false" visible="eq(-5,true)" />
	</category>
</settings>
